#weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}

#weatherApp {
  padding: 20px;
  border: 1px solid #000000;
  border-radius: 5px;
  background-color: white;
  box-sizing: border-box;
}

#temperature {
  color: #000000;
  font-size: 64px;
  font-weight: 400;
  margin-left: 20px;
  line-height: 1;
}

#forecast {
  padding-top: 50px;
  margin-top: 40px;
}

.units {
  position: relative;
  top: -34px;
  font-size: 16px;
}

h1 {
  color: #4a154b;
  font-size: 28px;
  line-height: 28px;
  font-weight: 100;
  margin-bottom: 0;
}

h3 {
  color: rgb(33, 33, 33);
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  height: 15px;
  line-height: 15px;
  padding-top: 7px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li:first-letter {
  text-transform: capitalize;
}

.weather-forecast {
  margin-top: 10px;
  text-align: center;
  color: #000;
  opacity: 0.5;
}

weather-forecast img {
  display: block;
  margin: 0 auto;
  height: 64px;
  width: 64px;
}

.weather-forecast-temperature {
  font-size: 13px;
}

.temperature-min {
  opacity: 0.7;
}

body {
  display: block;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
